@page "/transaction"

@using CommunityToolkit.Maui.Storage
@using PET.Models
@using PET.Interfaces
@using PET.Services
@using Blazored.Toast.Services
@using PET.Helper
@using CommunityToolkit.Maui
@using OfficeOpenXml
@using OfficeOpenXml.Style

@inject PreferencesStoreClone Storage
@inject MapUser MapUser

@inject PageTitleService PageTitleService
@inject ITransaction TransactionService
@inject ITag TagService
@inject IUser UserService

@inject NavigationManager Navigation
@inject IToastService ToastService

<div class="justify-content-between flex">
    <h2 class="mb-6 text-2xl font-bold">
        Available Balance: @userCurrency @userBalance
    </h2>
    @* Add Transaction Button *@
    <div class="mb-3">
        <button class="btn btn-primary" @onclick="() => OpenModal()">Add Transaction</button>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" @onclick="SaveToExcel">Save to Excel</button>
    </div>
</div>

@* Filter Controls *@
<div class="mb-6 justify-content-between flex items-center">
    @* Transaction Type Filter *@
    <div>
        <select id="transactionTypeFilter" @bind="transactionTypeFilter" class="form-control" placeholder="Type">
            <option value="">All Types</option>
            <option value="Debit">Debit</option>
            <option value="Credit">Credit</option>
        </select>
    </div>

    @* Tag Filter *@
    <div>
        <input id="tagFilter" type="text" @bind="tagFilter" class="form-control" list="tagList" placeholder="Tags" />
        <datalist id="tagList">
            @foreach (var tag in AllTags)
            {
                <option value="@tag.Name" />
            }
        </datalist>
    </div>

    @* Date Range Filter *@
    <div class="flex items-center">
        <input id="startDateFilter" type="date" @bind="startDateFilter" class="form-control" />
        <span class="mx-1">to</span>
        <input id="endDateFilter" type="date" @bind="endDateFilter" class="form-control" />
    </div>

    <div>
        <button class="p-2 rounded-md bg-[#00B2B2]" @onclick="FilterTransactions">Filter</button>
        <button class="p-2 rounded-md bg-[#00B2B2]" @onclick="ClearFilters">Clear Filters</button>
    </div>
</div>

@* Search Input Field *@
<div class="mb-3">
    <input id="searchTransactions" type="text" placeholder="Search"
    class="border-gray-300 p-lg-2 text-gray-800 w-full rounded-lg border transition-all focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
    @bind="searchQuery" @oninput="OnSearchInputChanged" />
</div>

<div class="mb-6 gap-6 grid grid-cols-1 md:grid-cols-3">
    @* Total Inflow *@
    <div class="bg-green-100 p-4 rounded shadow">
        <div class="align-center flex w-full justify-between">
            <p class="text-sm">Total Inflow</p>
            <p class="text-sm">@InflowNum</p>
        </div>
        <p class="text-lg font-semibold">
            @if (!FilteredTransactions.Any())
            {
                <span>@userCurrency 0.00</span>
            }
            else
            {
                <span>@userCurrency @TotalInflow</span>
            }
        </p>
    </div>

    @* Total Outflow *@
    <div class="bg-red-100 p-4 rounded shadow">
        <div class="align-center flex w-full justify-between">
            <p class="text-sm">Total Outflow</p>
            <p class="text-sm">@OutflowNum</p>
        </div>
        <p class="text-lg font-semibold">
            @if (!FilteredTransactions.Any())
            {
                <span>@userCurrency 0.00</span>
            }
            else
            {
                <span>@userCurrency @TotalOutflow</span>
            }
        </p>
    </div>

    @* Net Balance *@
    <div class="bg-blue-100 p-4 rounded shadow">
        <div class="align-center flex w-full justify-between">
            <p class="text-sm">Total Transaction</p>
            <p class="text-sm">@TotalTransNum</p>
        </div>
        <p class="text-lg font-semibold">
            @if (!FilteredTransactions.Any())
            {
                <span>@userCurrency 0.00</span>
            }
            else
            {
                <span>@userCurrency @TotalTransaction</span>
            }
        </p>
    </div>
</div>

@* Transactions Table *@
@if (FilteredTransactions == null || FilteredTransactions.Count == 0)
{
    <p>No transactions available.</p>
}
else
{
    <div class="bg-white p-8 rounded-lg border-2 border-[#00B2B2] shadow-sm">
        <table class="min-w-full table-auto">
            <thead>
                <tr class="border-black px-4 py-2 border-b-2 text-center">
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Transaction Type</th>
                    <th>Payment Method</th>
                    <th>Tags</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in FilteredTransactions)
                {
                    <tr class="px-4 py-2 border-b text-center">
                        <td class="px-4 py-2">@transaction.Title</td>
                        <td class="px-4 py-2">@userCurrency @transaction.Amount</td>
                        <td class="px-4 py-2">@transaction.Date.ToShortDateString()</td>
                        <td class="px-4 py-2">@transaction.TransactionType</td>
                        <td class="px-4 py-2">@transaction.PaymentMethod</td>
                        <td class="px-4 py-2">@string.Join(", ", transaction.TagName)</td>
                        <td class="px-4 py-2">@(transaction.Notes == null ? "-" : transaction.Notes)</td>
                        <td class="align-center justify-content-center space-x-2 px-4 py-2 flex">
                            <button @onclick="() => OpenModal(transaction)">
                                <img src="Images/edit.svg" alt="edit" class="h-5" />
                            </button>
                            <button @onclick="() => DeleteTransaction(transaction)"><img src="Images/delete.svg" alt="delete" class="h-5" /></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (isDeleteConfirmationVisible)
{
    <div class="inset-0 bg-gray-900 fixed z-50 flex items-center justify-center bg-opacity-50">
        <div class="bg-white p-6 w-full max-w-sm rounded-md shadow-lg">
            <h3 class="text-gray-800 text-xl font-semibold">Are you sure you want to delete this transaction?</h3>
            <div class="mt-4">
                <button class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-700" @onclick="ConfirmDelete">
                    Yes, Delete
                </button>
                <button class="px-4 py-2 ml-3 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-500" @onclick="CancelDelete">
                    Cancel
                </button>
            </div>
        </div>
    </div>
}

@* Modal *@
@if (isModalVisible)
{
    <div class="modal d-block" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@modalTitle</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="transactionTitle" class="form-label">Title:</label>
                        <input id="transactionTitle" @bind="newTransaction.Title" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="transactionAmount" class="form-label">Amount:</label>
                        <input id="transactionAmount" @bind="newTransaction.Amount" type="number" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="transactionDate" class="form-label">Date:</label>
                        <input id="transactionDate" @bind="newTransaction.Date" type="date" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="transactionType" class="form-label">Transaction Type:</label>
                        <select id="transactionType" @bind="newTransaction.TransactionType" class="form-control">
                            <option value=""> -- Select -- </option>
                            <option value="Debit">Debit</option>
                            <option value="Credit">Credit</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="paymentMethod" class="form-label">Payment Method:</label>
                        <select id="paymentMethod" @bind="newTransaction.PaymentMethod" class="form-control">
                            <option value=""> -- Select -- </option>
                            <option value="Cash">Cash</option>
                            <option value="Card">Card</option>
                            <option value="BankTransfer">Bank Transfer</option>
                            <option value="MobilePayment">Mobile Payment</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Tags" class="text-gray-700 block text-lg font-medium">Tags:</label>
                        <input id="Tags" type="text" @bind="newTransaction.TagName" list="tagList" class="border-gray-300 p-lg-2 text-gray-800 w-full rounded-lg border transition-all focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" @oninput="OnTagInputChanged" />

                        @* The datalist element will show available tags as suggestions *@
                        <datalist id="tagList">
                            @foreach (var tag in filteredTags)
                            {
                                <option value="@tag.Name" />
                            }
                        </datalist>
                    </div>


                    <div class="mb-3">
                        <label for="transactionNotes" class="form-label">Notes:</label>
                        <textarea id="transactionNotes" @bind="newTransaction.Notes" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Cancel</button>
                    <button type="button" class="btn btn-success" @onclick="AddOrUpdateTransaction">@modalButtonText</button>
                </div>

            </div>
        </div>
    </div>
}


@code {
    string userName = string.Empty;
    string userCurrency = string.Empty;
    double userBalance = 0.00;

    private double TotalInflow { get; set; }
    private double TotalOutflow { get; set; }
    private double TotalTransaction => TotalInflow + TotalOutflow;

    private int InflowNum = 0;
    private int OutflowNum = 0;
    private int TotalTransNum = 0;

    private string LoggedInUserName { get; set; }

    private List<Tags> AllTags { get; set; } = new List<Tags>();
    private List<Tags> filteredTags { get; set; } = new List<Tags>();

    // initialize new transaction to be added
    private List<Transactions> AllTransactions { get; set; } = new List<Transactions>();
    private List<Transactions> FilteredTransactions { get; set; } = new List<Transactions>();
    private Transactions newTransaction = new Transactions();

    private bool isDeleteConfirmationVisible = false;
    private Transactions transactionToDelete = null;

    // Filter and search
    private string searchQuery = string.Empty;
    private string transactionTypeFilter = string.Empty;
    private string tagFilter = string.Empty;
    public DateTime? startDateFilter { get; set; }
    public DateTime? endDateFilter { get; set; }

    // initialize value for if a user is editing a transaction
    private bool isEditing = false;
    private bool isModalVisible = false;
    private string modalTitle = "Add New Transaction";
    private string modalButtonText = "Add Transaction";

    protected override async Task OnInitializedAsync()
    {
        PageTitleService.PageTitle = "Transaction Overview";
        AllTags = await TagService.LoadAllTagsAsync();

        var loggedInUser = await MapUser.GetUserByUsernameAsync(Storage);
        if (loggedInUser != null)
        {
            LoggedInUserName = loggedInUser.Name;

            userName = loggedInUser.UserName;
            userBalance = loggedInUser.Balance;
            userCurrency = loggedInUser.CurrencyCode;
            var currentDate = DateTime.Now;
            startDateFilter = new DateTime(currentDate.Year, currentDate.Month, 1);
            endDateFilter = startDateFilter.Value.AddMonths(1).AddDays(-1);

            AllTransactions = await TransactionService.LoadAllTransactionsAsync();
            FilterTransactions();
        }
        else
        {
            Navigation.NavigateTo("/login");
        }

    }

    private void ClearFilters()
    {
        transactionTypeFilter = null;
        tagFilter = null;
        startDateFilter = null;
        endDateFilter = null;

        FilterTransactions();
        ToastService.ShowSuccess("Filters Cleared");
    }


    private void FilterTransactions()
    {
        var filteredTransactions = AllTransactions.Where(t => t.UserName == userName);

        if (!string.IsNullOrEmpty(transactionTypeFilter))
        {
            filteredTransactions = filteredTransactions.Where(t => t.TransactionType == transactionTypeFilter);
        }

        if (!string.IsNullOrEmpty(tagFilter))
        {
            filteredTransactions = filteredTransactions.Where(t => t.TagName.Contains(tagFilter, StringComparison.OrdinalIgnoreCase));
        }

        if (startDateFilter.HasValue)
        {
            filteredTransactions = filteredTransactions.Where(t => t.Date >= startDateFilter.Value);
        }

        if (endDateFilter.HasValue)
        {
            filteredTransactions = filteredTransactions.Where(t => t.Date <= endDateFilter.Value);
        }

        if (!string.IsNullOrEmpty(searchQuery))
        {
            filteredTransactions = filteredTransactions.Where(t => t.Title.Contains(searchQuery, StringComparison.OrdinalIgnoreCase));
        }

        FilteredTransactions = filteredTransactions
            .OrderBy(t => t.Date)
            .ToList();
        UpdateTotals();
    }

    private async Task SaveToExcel()
    {
        try
        {
            ExcelPackage.LicenseContext = LicenseContext.NonCommercial; // Set EPPlus license context

            var transactionService = new TransactionService();

            // Get the Excel file path
            var fileName = "Transactions.xlsx";
            var filePath = Path.Combine(FileSystem.AppDataDirectory, fileName);

            // Ensure the directory exists
            var directory = Path.GetDirectoryName(filePath);
            if (!Directory.Exists(directory))
            {
                Directory.CreateDirectory(directory);
            }

            // Save transactions to the Excel file
            await transactionService.ExportTransactionsToExcelAsync(filePath);

            // Read the file into a MemoryStream
            var fileBytes = File.ReadAllBytes(filePath);
            using var stream = new MemoryStream(fileBytes);

            // Save the file using FileSaver
            var result = await FileSaver.Default.SaveAsync(fileName, stream);

            if (result.IsSuccessful)
            {
                ToastService.ShowSuccess($"File saved to {result.FilePath}");
            }
            else
            {
                ToastService.ShowError("File save canceled or failed.");
            }
        }
        catch (Exception ex)
        {
            ToastService.ShowError($"Error saving to Excel: {ex.Message}");
        }
    }

    private void UpdateTotals()
    {
        TotalInflow = FilteredTransactions
            .Where(t => t.TransactionType == "Credit")
            .Sum(t => t.Amount);

        TotalOutflow = FilteredTransactions
            .Where(t => t.TransactionType == "Debit")
            .Sum(t => t.Amount);

        InflowNum = FilteredTransactions.Where(t => t.TransactionType == "Credit").Count();
        OutflowNum = FilteredTransactions.Where(t => t.TransactionType == "Debit").Count();
        TotalTransNum = FilteredTransactions.Count();
    }

    private void OnSearchInputChanged(ChangeEventArgs e)
    {
        searchQuery = e.Value?.ToString() ?? string.Empty;
        FilterTransactions();
    }

    private void OpenModal(Transactions? transaction = null)
    {
        if (transaction != null)
        {
            newTransaction = new Transactions
                {
                    Id = transaction.Id,
                    User = transaction.User,
                    UserName = transaction.UserName,
                    Title = transaction.Title,
                    Amount = transaction.Amount,
                    Date = transaction.Date,
                    TransactionType = transaction.TransactionType,
                    PaymentMethod = transaction.PaymentMethod,
                    Tags = transaction.Tags,
                    TagName = transaction.TagName,
                    Notes = transaction.Notes
                };
            isEditing = true;
            modalTitle = "Edit Transaction";
            modalButtonText = "Save Changes";
        }
        else
        {
            newTransaction = new Transactions();
            isEditing = false;
            modalTitle = "Add New Transaction";
            modalButtonText = "Add Transaction";
        }

        isModalVisible = true;
    }

    private void CloseModal()
    {
        isModalVisible = false;
        ResetForm();
    }

    private void ResetForm()
    {
        newTransaction = new Transactions();
        isEditing = false;
    }

    private async Task OnTagInputChanged(ChangeEventArgs e)
    {
        var typedTag = e.Value?.ToString();

        if (string.IsNullOrWhiteSpace(typedTag))
        {
            filteredTags = AllTags;
            return;
        }

        // Filter existing tags based on the user's input
        filteredTags = AllTags.Where(t => t.Name.Contains(typedTag, StringComparison.OrdinalIgnoreCase)).ToList();
    }

    private async Task CheckAndAddTag()
    {
        if (string.IsNullOrWhiteSpace(newTransaction.TagName)) return;

        var existingTag = AllTags.FirstOrDefault(t => t.Name.Equals(newTransaction.TagName, StringComparison.OrdinalIgnoreCase));

        if (existingTag == null)
        {
            // The tag is not found, so add it as a new tag
            var newTag = new Tags { Name = newTransaction.TagName };
            AllTags.Add(newTag);

            await TagService.AddTagAsync(newTag);

            newTransaction.Tags = newTag;
        }
        else
        {
            newTransaction.Tags = existingTag;
        }
    }

    private void SelectTag(string tagName)
    {
        newTransaction.TagName = tagName;
        var selectedTag = AllTags.FirstOrDefault(t => t.Name == tagName);
        if (selectedTag != null)
        {
            newTransaction.Tags = selectedTag;
        }
    }

    private bool ValidateTransaction()
    {
        if (string.IsNullOrWhiteSpace(newTransaction.Title) || newTransaction.Amount <= 0)
        {
            ToastService.ShowError("Title and Amount must be provided, and Amount must be greater than zero.");
            return false;
        }

        if (string.IsNullOrWhiteSpace(newTransaction.TransactionType))
        {
            ToastService.ShowError("Transaction type must be selected");
            return false;
        }

        if (string.IsNullOrWhiteSpace(newTransaction.PaymentMethod))
        {
            ToastService.ShowError("Payment method must be selected");
            return false;
        }

        return true;
    }

    private async Task AddOrUpdateTransaction()
    {
        if (ValidateTransaction())
        {
            try
            {
                var loggedInUser = await MapUser.GetUserByUsernameAsync(Storage);
                newTransaction.User = loggedInUser;
                newTransaction.UserName = loggedInUser?.UserName;
                // For editing, revert the old transaction balance first
                if (isEditing)
                {
                    var existingTransaction = await TransactionService.GetTransactionByIdAsync(newTransaction.Id);
                    // reset transaction for editing
                    if (existingTransaction != null)
                    {
                        await TransactionService.RevertUserBalanceTransaction(loggedInUser, existingTransaction);
                    }
                }

                // Update balance based on the new transaction type
                await TransactionService.UpdateUserBalanceTransaction(loggedInUser, newTransaction);

                await HandleTags();

                if (!isEditing) // Add new transaction
                {
                    await TransactionService.AddTransactionAsync(newTransaction);
                    ToastService.ShowSuccess("Transaction Added");
                }
                else
                {
                    await TransactionService.UpdateTransactionAsync(newTransaction);
                    ToastService.ShowSuccess("Transaction Updated");
                }

                await UserService.UpdateUserAsync(loggedInUser);
                UpdateTotals();
                await OnInitializedAsync();
                CloseModal();
            }
            catch (Exception ex)
            {
                ToastService.ShowError($"Error saving transaction: {ex.Message}");
            }
        }
    }

    private async Task HandleTags()
    {
        var selectedTag = AllTags.FirstOrDefault(t => t.Name == newTransaction.TagName);
        if (selectedTag == null && !string.IsNullOrWhiteSpace(newTransaction.TagName))
        {
            var newTag = new Tags
                {
                    Id = AllTags.Count > 0 ? AllTags.Max(t => t.Id) + 1 : 1,
                    Name = newTransaction.TagName
                };

            AllTags.Add(newTag);
            await TagService.AddTagAsync(newTag);
            selectedTag = newTag;
        }

        if (selectedTag != null)
        {
            newTransaction.Tags = selectedTag;
        }
    }
    
    private void DeleteTransaction(Transactions transaction)
    {
        transactionToDelete = transaction;
        isDeleteConfirmationVisible = true;
    }

    private async Task ConfirmDelete()
    {
        if (transactionToDelete != null)
        {
            try
            {
                // Get the logged-in user
                var loggedInUser = await MapUser.GetUserByUsernameAsync(Storage);

                // Revert the balance based on the type of the transaction (Credit or Debit)
                await TransactionService.RevertUserBalanceTransaction(loggedInUser, transactionToDelete);

                await UserService.UpdateUserAsync(loggedInUser);
                await TransactionService.DeleteTransactionAsync(transactionToDelete);
                UpdateTotals();
                await OnInitializedAsync();
                isDeleteConfirmationVisible = false;
                ToastService.ShowSuccess("Transaction Deleted");
            }
            catch (Exception ex)
            {
                ToastService.ShowError($"Error deleting transaction: {ex.Message}");
            }
        }
    }

    private void CancelDelete()
    {
        isDeleteConfirmationVisible = false;
    }
}